<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608230650154-b50rnin2pk4rtlqubi9h9d9lfn3githp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608230650154-b50rnin2pk4rtlqubi9h9d9lfn3githp</string>
	<key>API_KEY</key>
	<string>AIzaSyAqG7U2Xg1TI67MBN1m370CVoAbG3nK6Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>608230650154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahil.calendarapp</string>
	<key>PROJECT_ID</key>
	<string>calendarapp-e614f</string>
	<key>STORAGE_BUCKET</key>
	<string>calendarapp-e614f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608230650154:ios:97e6b5cb5f09e307d7ee53</string>
</dict>
</plist>